.walletBlock {
    margin-top:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;  
    
}

.wallets-item img{
width: 320px;
height: 72px;
cursor: pointer;
}

.wallets{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.wallet-txt{
    display: flex;      
    flex-direction: column;
    gap: 5px;
}

.container-wallets{
    display: flex;  
    flex-direction: row;
    gap: 50px;
    margin-left: -175px;
    height: 641px;
}

.walllets-left-content img{
   width: 610px;

}

.container{
    background-color: #1E1E1E;
}

